In [1]:
## all imports
from IPython.display import HTML
import numpy as np
import urllib2
import bs4 # beautiful soup(python scraping library)
import time
import operator
import socket
import cPickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

In [2]:
# Data Scraping from website and with API

In [9]:
# Basicly all of the scrapted file from the website is not organized
# The file should be splited by symbols and assigned columns names

ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data')
ratings.head()

   196\t242\t3\t881250949
0  186\t302\t3\t891717742
1   22\t377\t1\t878887116
2   244\t51\t2\t880606923
3  166\t346\t1\t886397596
4  298\t474\t4\t884182806

In [5]:
# Without split the csv with symbol, each row will not be splited
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', names=u_cols)

users.head()

                   user_id  age  sex  occupation  zip_code
0  1|24|M|technician|85711  NaN  NaN         NaN       NaN
1       2|53|F|other|94043  NaN  NaN         NaN       NaN
2      3|23|M|writer|32067  NaN  NaN         NaN       NaN
3  4|24|M|technician|43537  NaN  NaN         NaN       NaN
4       5|33|F|other|15213  NaN  NaN         NaN       NaN

In [38]:
# the parameter of 'sep' split each row into columns with symbol '|'
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user',sep = '|', names=u_cols)

users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [35]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data',sep='\t',names=r_cols)

ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [88]:
# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'release_date', 
            'video_release_date', 'imdb_url']

movies = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names=m_cols, usecols=range(5))

movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 5 columns):
movie_id              1682 non-null int64
title                 1682 non-null object
release_date          1681 non-null object
video_release_date    0 non-null float64
imdb_url              1679 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 65.8+ KB

In [15]:
# Select columns of data
columns_you_want = ['occupation', 'sex'] 
users[columns_you_want].head()

   occupation sex
0  technician   M
1       other   F
2      writer   M
3  technician   M
4       other   F

In [18]:
# Get the third row of data
users.iloc[3]

user_id                4
age                   24
sex                    M
occupation    technician
zip_code           43537
Name: 3, dtype: object

In [17]:
# select rows of data(fileting data)
oldUsers = users[users.age > 25]
oldUsers.head()

   user_id  age sex     occupation zip_code
1        2   53   F          other    94043
4        5   33   F          other    15213
5        6   42   M      executive    98101
6        7   57   M  administrator    91344
7        8   36   M  administrator    05201

In [31]:
# Show users aged 40 and male
# Pay attention to the () between two conditions
users[(users.age == 40) & (users.sex == 'M')].head()

     user_id  age sex  occupation zip_code
18        19   40   M   librarian    02138
82        83   40   M       other    44133
115      116   40   M  healthcare    97232
199      200   40   M  programmer    93402
283      284   40   M   executive    92629

In [33]:
## Show the mean age of female programmers
users.age[users.sex == 'F'].mean()

33.81318681318681

In [40]:
print ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [117]:
# get the average rating per movie
# group_by function
# grouped_data = ratings[["movie_id", "rating"]].groupby(['movie_id'],as_index=False).mean()
# movie_is is automaticly setted as index,so we can just only use rating column group by movie_id
grouped_data = ratings['rating'].groupby(ratings['movie_id']).mean()
grouped_data.head()

movie_id
1    3.878319
2    3.206107
3    3.033333
4    3.550239
5    3.302326
Name: rating, dtype: float64

In [118]:
# movie_id is the index of grouped_data
max_rating = grouped_data.max()
# grouped_data == max_rating can filter the max rating row in grouped_data
good_movie_ids = grouped_data[grouped_data == max_rating].index
print "Best movie ids:"
print good_movie_ids

Best movie ids:
Int64Index([814, 1122, 1189, 1201, 1293, 1467, 1500, 1536, 1599, 1653], dtype='int64', name=u'movie_id')

In [119]:
# Get the movie titles with the highest average rating
# isin function return all the data in the series 
print "Best movie titles"
print movies[movies.movie_id.isin(good_movie_ids)].title

Best movie titles
813                         Great Day in Harlem, A (1994)
1121                       They Made Me a Criminal (1939)
1188                                   Prefontaine (1997)
1200           Marlene Dietrich: Shadow and Light (1996)
1292                                      Star Kid (1997)
1466                 Saint of Fort Washington, The (1993)
1499                            Santa with Muscles (1996)
1535                                 Aiqing wansui (1994)
1598                        Someone Else's America (1995)
1652    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object

In [127]:
grouped_data = ratings['rating'].groupby(ratings['movie_id'])
how_many_ratings = grouped_data.count()
# count function can use mean fucntion as condition
print "Number of ratings per movie"
print how_many_ratings[grouped_data.mean() == max_rating]

Number of ratings per movie
movie_id
814     1
1122    1
1189    3
1201    1
1293    3
1467    2
1500    2
1536    1
1599    1
1653    1
Name: rating, dtype: int64

In [134]:
# Each grouped_data has mutiple Male and mutiple Female
# the function makes conditions inside each grouped data

grouped_data = users['sex'].groupby(users['occupation'])
male_dominant_occupations = grouped_data.apply(lambda f: 
                                               sum(f == 'M') > sum(f == 'F'))
print male_dominant_occupations
print '\n'

occupation
administrator     True
artist            True
doctor            True
educator          True
engineer          True
entertainment     True
executive         True
healthcare       False
homemaker        False
lawyer            True
librarian        False
marketing         True
none              True
other             True
programmer        True
retired           True
salesman          True
scientist         True
student           True
technician        True
writer            True
Name: sex, dtype: bool

In [145]:
url = 'http://www.crummy.com/software/BeautifulSoup'
source = urllib2.urlopen(url).read()
## is 'Alice' in source?
print 'Unless' in source

## count occurences of 'Soup'
print source.count('Soup')

## find index of 'alien video games'
position =  source.find('Unless')
print position

## quick test to see the substring in the source variable
## you can access strings like lists
print source[position:position + 20]

## or the tidier version:
print source[position:position + len('Unless')]

True
43
7735
Unless otherwise not
Unless

In [150]:

## get bs4 object
soup = bs4.BeautifulSoup(source)

## find all 'a' tags
soup.findAll('a')

[<a href="bs4/download/"><h1>Beautiful Soup</h1></a>,
 <a href="#Download">Download</a>,
 <a href="bs4/doc/">Documentation</a>,
 <a href="#HallOfFame">Hall of Fame</a>,
 <a href="https://code.launchpad.net/beautifulsoup">Source</a>,
 <a href="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">Discussion group</a>,
 <a href="zine/">Zine</a>,
 <a href="zine/"><i>Tool Safety</i></a>,
 <a href="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">the discussion\ngroup</a>,
 <a href="https://bugs.launchpad.net/beautifulsoup/">file it</a>,
 <a href="http://lxml.de/">lxml</a>,
 <a href="http://code.google.com/p/html5lib/">html5lib</a>,
 <a href="bs4/doc/">Read more.</a>,
 <a name="Download"><h2>Download Beautiful Soup</h2></a>,
 <a href="bs4/download/">Beautiful Soup\n4.6.0</a>,
 <a href="http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html">Here's\nthe Beautiful Soup 3 documentation.</a>,
 <a href="download/3.x/BeautifulSoup-3.2.1.tar.gz">3.2.1</a>,
 <a name="HallOfFame"><h2>Hall of Fame</h2></a>,
 <a href="http://www.nytimes.com/2007/10/25/arts/design/25vide.html">"Movable\n Type"</a>,
 <a href="https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py">parse\na page that's been linked to and find a representative image</a>,
 <a href="http://www.harrowell.org.uk/viktormap.html">track the business\n activities</a>,
 <a href="http://svn.python.org/view/tracker/importer/">migrate the Python\nbug tracker from Sourceforge to Roundup</a>,
 <a href="http://www2.ljworld.com/">Lawrence Journal-World</a>,
 <a href="http://www.b-list.org/weblog/2010/nov/02/news-done-broke/">gather\nstatewide election results</a>,
 <a href="http://esrl.noaa.gov/gsd/fab/">NOAA's Forecast\nApplications Branch</a>,
 <a href="http://laps.noaa.gov/topograbber/">TopoGrabber</a>,
 <a href="http://groups.google.com/group/beautifulsoup/">the discussion\ngroup</a>,
 <a href="https://launchpad.net/beautifulsoup">Launchpad</a>,
 <a href="https://code.launchpad.net/beautifulsoup/">get the source\ncode</a>,
 <a href="https://bugs.launchpad.net/beautifulsoup/">file\nbugs</a>,
 <a href="/source/software/BeautifulSoup/index.bhtml">source</a>,
 <a href="/self/">Leonard Richardson</a>,
 <a href="/self/contact.html">contact information</a>,
 <a href="http://creativecommons.org/licenses/by-sa/2.0/"><img border="0" src="/nb//resources/img/somerights20.jpg"/></a>,
 <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons License</a>,
 <a href="http://www.crummy.com/">http://www.crummy.com/</a>,
 <a href="http://www.crummy.com/software/">software/</a>,
 <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup/</a>]

In [151]:
## find all 'img' tags
soup.findAll('img')

[<img align="right" src="10.1.jpg" width="250"/>,
 <img border="0" src="/nb//resources/img/somerights20.jpg"/>]